# Compiled class files
*.class

# Log files
*.log

# Maven
/target/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# IDE settings
.classpath
.project
.settings/
.idea/
*.iml
.ipr
.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.pid.lock
